body{
    background-color: rgb(20, 19, 19);
}
.HomeContainer{
    width: 100%;
    height: calc(100vh - 1cm);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.Homebox{
    width:300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.insider{
    width: 100%;
    background-color:#E0E9F8;
    height: calc(100% - 55px);
    border-radius: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
form{
    padding: 0px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(255, 139, 7, 0);
    height: 50px;
    gap: 5px;
}

form>input{
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size:10px;
    padding-left: 20px;
    border: 1px solid;
    border-color: #075EF6;
}
form>button{
    height: 35px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background-color:#E0E9F8;
    color: #075EF6;
    border: 2px solid;
    border-color: #075EF6;
}
.contentinside{
    overflow-y: auto;
    height: calc(100% - 50px);
    background-color:#E0E9F8;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
    scrollbar-width:none;
}
.divdes{

    min-height: 1cm;
    background-color:#FAFAFA;
    display: flex;
    justify-content:space-between;
    padding:0px 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button{
    display: flex;
    gap: 10px;
}

/* #0762F6 */